<!DOCTYPE >
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>预约数据管理</title>
	<link href="css/public.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<!-- css bottom-->
	<link rel="stylesheet" type="text/css" href="http://www.bootcss.com/p/buttons/css/buttons.css">

	<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="js/global.js"></script>
	<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
	<div class="crumb-wrap">
		<div class="crumb-list">
			<i class="icon-font">&#xe000;</i>
			<a href="/KaoShiXiTo/houtai/Home.jsp" target="_blank">首页</a>
			<span class="crumb-step">&gt;</span>
			<a class="crumb-name"href="javascript:void(0)">预约数据管理</a>
		</div>
	</div>
	<!-- 当前位置 -->
	<div class="mainBox"
		style="height: auto !important; height: 550px; min-height: 550px;">
		<h3>
			预约数据管理
		</h3>
		<div class="filter">
			<form action="article.php" method="post">
				<select name="cat_id">
					<option value="" selected="">状态</option>
					<option value="0">已提交,未处理</option>
					<option value="1">已完成,已处理</option>
					<option value="2">未采纳,不处理</option>
					<option value="3">已取消</option>
				</select> 
					<input name="keyword" type="text" class="inpMain" value="" size="20" /> 
					<input name="submit" class="btnGray" type="submit" value="筛选" />
			</form>
		</div>
		<!-- anglarJS start -->
		<div id="list" ng-app="myApp" ng-controller="DuihOrderManger" >
			<form name="action" method="post"  action="article.php?rec=action">
				<table width="100%" border="0" cellpadding="8" cellspacing="0"
					class="tableBasic">
					<tr>
						<th width="5%" align="center">
							<input name='chkall' 
							type='checkbox' 
							d='chkall' 
							onclick='selectcheckbox(this.form)' value='check'/>ID
						</th>
					 	<th width="5%" align="center">用户id</th>
						<th width="10%" align="center">上门时间</th>
						<th align="center">预约地点</th>
						<th align="center">详细地址</th>

						<th  align="center">对您称呼</th>
						<th  align="center">联系电话</th>
						<th  align="center">状态</th>
						<th  align="center">创建时间</th>
						<th  align="center">修改时间</th>
						<th>操作</th>
					</tr>

					<tr ng-repeat=" st in list">
						<td align="center">
							<input  type="checkbox" name="checkbox[]" value="10" />{{st.id}}
						</td>
						<td align="center">{{st.personalId}}</td>
						<td align="center">{{st.doorTime}}</td>
						<td align="center">{{st.yuyueAdress}}</td>
						<td align="center">{{st.adressInfo}}</td>
						
						<td align="center">{{st.cellYou}}</td>
						<td align="center">{{st.phone}}</td>
						<td align="center">
							<div ng-show='{{st.state == 0}}'>已提交,未处理</div>
							<div ng-show='{{st.state == 1}}'>已完成,已处理</div>
							<div ng-show='{{st.state == 2}}'>未采纳,不处理</div>
							<div ng-show='{{st.state == 3}}'>已取消</div>
						</td>
						<td align="center">{{st.cdate}}</td>
						<td align="center">{{st.mdate}}</td>
						<td align="center">
							<div ng-show='{{st.state == 0}}'>
								<a ng-click="chuli(this,1)" class="button button-glow button-rounded button-highlight">处理</a>
								<hr/>
  								<a ng-click="chuli(this,2)" class="button button-glow button-rounded button-caution">不处理</a>
							</div>
							<a  ng-show='{{st.state != 0}}' href="javascript:void(0);" ng-click="btnDelete(this)" >删除</a>
							<!-- <a href="DuihShangpManger_update.html?id={{st.id}}" >编辑</a> | 
							<a href="javascript:void(0);" ng-click="btnDelete(this)" >删除</a> -->
						</td>
					</tr>
				</table>
				<div class="action">
					<select name="action" onchange="douAction()">
						<option value="0">请选择...</option>
						<option value="del_all">删除</option>
						<option value="category_move">移动分类至</option>
					</select> <select name="new_cat_id" style="display: none">
						<option value="0">未分类</option>
						<option value="1">公司动态</option>
						<option value="2">行业新闻</option>
					</select> <input name="submit" class="btn" type="submit" value="执行" />
				</div>
			</form>
		</div>
		<div class="clear"></div>
		<div class="pager">
			总计 10 个记录，共 1 页，当前第 1 页 | <a href="article.php?page=1">第一页</a> 上一页
			下一页 <a href="DuihOrderManger.html">最末页</a>
		</div>
	</div>
	
	<!-- angularJS  -->
	<script>
		//angularJS
		var app = angular.module('myApp', []);
		app.controller('DuihOrderManger', function($scope, $http) {
			//删除
			$scope.btnDelete=function(that){
				//删除预约数据
			    var url = "/deal/save/lemonRecovery/Query/Delete";
			   	//请求头
	    		var headers = { 'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8','Accept': '*/*' ,'X-Requested-With':'XMLHttpRequest'};

              //参数
              var data = angular.toJson({
                  "rows":[{
                    'id':that.st.id,
                  }]
                });

			    //发送请求
			    $http({
			        method: 'POST',
			        data:'reqJson='+data,
			        headers:headers,
			        url: url,
			    })
			    .then(function successCallback(response) {
			        alert('删除成功!');
				        var list = $scope.list;
				        $scope.list = [];
				        angular.forEach(list, function(st) {
				            if (st.id != that.st.id) $scope.list.push(st);
				        });
    			    }, function errorCallback(response) {
			        // 请求失败执行代码		    
			    });
			}

			//修改状态
			$scope.chuli=function(that,state){
				//修改预约状态
			    var url = "/deal/save/lemonRecovery/Query/save";
			   	//请求头
	    		var headers = { 'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8','Accept': '*/*' ,'X-Requested-With':'XMLHttpRequest'};
	    		//参数
              var data = angular.toJson({
                  "rows":[{
                    'id':that.st.id,
                    'state':state,
                  }]
                });

			    //发送请求
			    $http({
			        method: 'POST',
			        data:'reqJson='+data,
			        headers:headers,
			        url: url,
			    })
			    .then(function successCallback(response) {
			        alert('操作成功!');
					//刷新
			        window.location.reload();
    			}, function errorCallback(response) {
			        // 请求失败执行代码		    
			    });
			}

		    //获取预约数据
		    var url = "/deal/get/lemonRecovery/Query";
		   	//请求头
    		var headers = { 'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8','Accept': '*/*' ,'X-Requested-With':'XMLHttpRequest'};

		    //参数
		    var data = angular.toJson({
		    		"filterRules":"[]",
		    		'pagesize':50,
		    		"rows":[{"df":0}]
		    	});

		    //发送请求
		    $http({
		        method: 'POST',
		        data:'reqJson='+data,
		        headers:headers,
		        url: url,
		    })
		    .then(function successCallback(response) {
		        $scope.list = response.data.rows;

		    }, function errorCallback(response) {
		        // 请求失败执行代码		    
		    });
		  
		});
	</script>
</body>
</html>